@font-face 
{
    src: url("NanumGothicCoding-Regular.ttf");
}

.root
{
    -fx-font-family:'NanumGothicCoding';
    -fx-font-size: 24pt;
    -fx-background-color: #326985;
    -fx-color: white;
}

.combo-box, .label
{
    -fx-text-fill: white;
    
}