@font-face 
{
    src: url("NanumGothicCoding-Regular.ttf");
}

.root
{
    -fx-font-family:'NanumGothicCoding';
    -fx-font-size: 13pt;
    -fx-background-color: #FFEFD5;
    -fx-color: white;
}

.list-view, .label
{
    -fx-text-fill: #362511;   
    
}

.heading
{
	-fx-font-size: 16pt;
	-fx-underline: true;
	-fx-text-fill: #333300;
}

.text-field
{
	-fx-font-size: 13pt;
	-fx-pref-width: 400px;
}

