@font-face 
{
    src: url("NanumGothicCoding-Regular.ttf");
}

.root
{
    -fx-font-family:'NanumGothicCoding';
    -fx-font-size: 24pt;
    -fx-background-color: #F2B8C6;
    -fx-color: white;
}

.list-view, .label
{
    -fx-text-fill: #362511;
    
}